[Unit]
Description=NBI server (OSM NBI)

[Service]
ExecStart=/usr/bin/nbi -c /etc/osm/nbi.cfg --log-file=/var/log/osm/nbi.log
Restart=always

[Install]
WantedBy=multi-user.target

